@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <form method="post">
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 mb-4 ">
                    <label asp-for="LocalidadSearch" class="control-label">Elija la provincia deseada</label>
                    <input type="search" asp-for="LocalidadSearch" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 mb-4 ">
                    <input type="submit" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 mb-4 ">
                    <p class="card-text mb-auto">
                        BOTON BUSCAR
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

@if(Model.Autos is not null)
{
    <h3>Autos Disponible para la zona seleccionada</h3>
        <table class="table">
            <tr>
                <th>Nombre</th>
            </tr>
        @foreach (var item in Model.Autos)
        {
                    <tr>
                        <td>
                            @item.Patente
                        </td>
                    </tr>
        }
        </table>
}