@page
@model AlquileresAutos.Pages.Autos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Auto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Auto.ID" />
            <div class="form-group">
                <label asp-for="Auto.Patente" class="control-label"></label>
                <input asp-for="Auto.Patente" class="form-control" />
                <span asp-validation-for="Auto.Patente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.CapacidadTanque" class="control-label"></label>
                <input asp-for="Auto.CapacidadTanque" class="form-control" />
                <span asp-validation-for="Auto.CapacidadTanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Kilometraje" class="control-label"></label>
                <input asp-for="Auto.Kilometraje" class="form-control" />
                <span asp-validation-for="Auto.Kilometraje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.FechaCompra" class="control-label"></label>
                <input asp-for="Auto.FechaCompra" class="form-control" />
                <span asp-validation-for="Auto.FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Detalle" class="control-label"></label>
                <input asp-for="Auto.Detalle" class="form-control" />
                <span asp-validation-for="Auto.Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.ModeloID" class="control-label"></label>
                <select asp-for="Auto.ModeloID" class="form-control" asp-items="ViewBag.ModeloID"></select>
                <span asp-validation-for="Auto.ModeloID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Estado" class="control-label"></label>
                <select asp-for="Auto.Estado" class="form-control"></select>
                <span asp-validation-for="Auto.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
